*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    background-color: gray;
    width: 100%;
    padding: 15px;

    display: flex;
    justify-content: center;
}

.navegacao{
    display: flex;
    gap: 20px;
}

.btn{
    border: none;
    background-color: white;
    font-weight: bold;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    cursor: pointer;
}

@media (max-width: 768px){

    .cabecalho{
        position: fixed;
        left: 0;
        top: 0;
        width: 150px;
        height: 100vh;

        justify-content: flex-start;
        padding-top: 40px;
    }

    .navegacao{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .btn{
        width: 80%;
    }
}