body {
    margin: 0;
}

main {
    display: flex;
    width: 600px;
    height: 300px;
}

.sidebar {
    width: 200px; /* fixa */
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1; /* ocupa o resto */
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}