*{ /*seletor global*/
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

#cabecalho{
    background-color: rgb(151, 151, 151);
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

#corpoPrincipal{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card{
    padding: 20px;
    margin: 30px;
    display: flex;
}

.linguagens{
    align-items: center;
    margin: 40px;
    
}

#box-html{
    border-radius: 10px;
    background-color: rgb(251, 186, 66);    
    padding: 30px;
    padding-top: 5px;
}

#box-css{
    border-radius: 10px;
    background-color: rgb(127, 127, 250);
    padding: 30px;
    padding-top: 5px;
}